* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(45deg, red, black);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-container {
    display: flex;
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-color: blue;
    border-width: 10px;
}

.login-box, .welcome-box {
    padding: 30px;
}

.login-box {
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.welcome-box {
    width: 50%;
    background: linear-gradient(45deg, red, black);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-box h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.welcome-box p {
    font-size: 1rem;
    line-height: 1.6;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
}

.input-box {
    display: flex;
    align-items: center;
    background-color: #2E2E2E;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border-color: white;
    border:2px solid white; 
}

.input-box input {
    border: none;
    outline: none;
    background: none;
    padding-left: 10px;
    color: white;
    width: 100%;
}

.input-box .icon {
    color: red;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1rem;
    box-shadow: red;
    /* transform: translate3d(100px); */
    
    /* transition: background-color 0.5s ease-in-out; */
}

.login-btn:hover {
    background-color: orange;
}

p {
    text-align: center;
    color: white;
}

p a {
    color: red;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}