h2 {
    text-align: center;
    }
    form
    {
    width: 500px; margin: 100px auto; padding: 20px; margin-top: 10px;
    background-color: pink;
    box-shadow: inset 0px 0px 10px #dcdcdc; border-radius: 20px;
    }
    label
    {
    font-weight: bold;
    font-size: 16px;
    }
    input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="url"], input[type="file"], input[type="submit"], input[type="reset"], input[type="range"]
    {
    width: 95%; padding: 5px;
    margin-bottom: 10px; margin-top: 10px; border: none;
    border-radius: 5px; background-color: white; font-size: 12px;
    }
    input[type="submit"]
    {
    margin-left:150px;
    }
    input[type="submit"], input[type="reset"]
    {
    width: 20%;
    background-color: #4CAF50; color: white;
    cursor: pointer;
    }
    input[type="submit"]:hover, input[type="reset"]:hover
    {
    background-color: red;
    }
    input[type="range"]
    {
    -webkit-appearance: none; background:white;
    height: 2px; outline: none;
    }
    input[type="range"]::-webkit-slider-thumb
    {
    -webkit-appearance: none; appearance: none;
    width: 15px; height: 15px;
    border-radius: 20px; background: #4CAF50; cursor: pointer;
    }